div.wrapper#scene-choice {
    display: grid;
    grid-template-columns: auto 512px;
    gap: 15px;
}

#scene-choice div.left {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#scene-choice div.right {
    gap: 20px;
}

#scene-choice div.inventory, div.staging {
    background-color: rgb(39, 35, 32);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

#scene-choice p#inv-total {
    text-align: right;
}

#scene-choice div.coins {
    display: grid;
    grid-template-columns: 80px auto;
}

#scene-choice div.coins h2 {
    padding-left: 15px;
    text-align: left;
    line-height: 80px;
    font-size: 40px;
}

#scene-choice div.coins img {
    width: 80px;
    height: 80px;
}

#scene-choice div.item {
    font-size: 19pt;
    background-color: rgb(17, 17, 16);
    border: 1px solid rgb(56, 53, 50);
    color:rgb(238, 221, 198);
    width: 100%;
    line-height: 40px;
    min-height: 40px;
    padding: 10px;
    cursor: pointer;
}

#scene-choice div.item.disabled p {
    text-align: center;
    font-style: italic;
    color: rgb(153, 133, 104);
}

#scene-choice div.item * {
    margin: 0;
}

#scene-choice div.item h2 {
    text-align: left;
    margin-left: 5px;
}

#scene-choice div.item p {
    margin-left: 20px;
}

#scene-choice div.item:hover {
    background-color: rgb(36, 36, 32);
}

#scene-choice div.item:active {
    background-color: rgb(56, 56, 47);
}

#scene-choice div.item.disabled {
    background-color: rgb(83, 76, 66);
    cursor: default;
}

#scene-choice button.submit {
    background-color: rgb(235, 189, 126);
    border: none;
    cursor: pointer;
    font-size: 18pt;
    padding: 10px;
}

#scene-choice button.submit.disabled {
    cursor: default;
    background-color: rgb(90, 80, 65);
    color: rgb(153, 133, 104);
}

#scene-choice button.submit:active {
    background-color: rgb(247, 221, 185);
}

#scene-choice div.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#scene-choice div.right img {
    width: 512px;
    height: 512px;
}

#scene-choice div.feature {
    display: grid;
    grid-template-columns: 128px auto;
    gap: 10px;
}

#scene-choice div.feature img {
    width: 128px;
    height: 128px;
}

@media only screen and (max-device-width: 480px) {
    div.wrapper#scene-choice {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #scene-choice div.right img {
        width: auto;
        height: unset;
    }
    #scene-choice div.feature {
        display: flex;
        flex-direction: column;
    }
    #scene-choice div.feature img {
        width: auto;
        height: unset;
    }
}