div.wrapper#scene-lobby {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 15px;
}

@media only screen and (max-device-width: 480px) {
    div.wrapper#scene-lobby {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

#scene-lobby div#classes {
    background-color: rgb(39, 35, 32);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#scene-lobby div.class {
    background-color: rgb(17, 17, 16);
    border: 1px solid rgb(56, 53, 50);
    padding: 10px;
    cursor: pointer;
}

#scene-lobby div.class:hover {
    background-color: rgb(36, 36, 32);
}

#scene-lobby div.class:active {
    background-color: rgb(56, 56, 47);
}

#scene-lobby div.class.disabled {
    background-color: rgb(83, 76, 66);
    cursor: default;
}

#scene-lobby div.class.selected {
    background-color: rgb(73, 73, 58);
}

#scene-lobby div.class h1 {
    font-size: 18pt;
    text-align: left;
}

#scene-lobby input.name-input {
    font-size: 18pt;
    padding-left: 15px;
}

#scene-lobby img.big-sprite {
    width: 220px;
    height: 220px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    left: 0;
    right: 0;
}

#scene-lobby button.start-game-button {
    font-size: 19pt;
    background-color: rgb(17, 17, 16);
    border: 1px solid rgb(56, 53, 50);
    color:rgb(238, 221, 198);
    width: 100%;
    line-height: 30px;
    min-height: 30px;
    padding: 10px;
    cursor: pointer;
}