#scene-voting div.vote-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(43, 40, 36);
    width: 100%;
    height: 550px;
    padding: 30px;
    margin-bottom: 20px;
}

#scene-voting div.vote-player {
    width: 262px;
    height: 230px;
    text-align: center;
    border: 1px solid rgb(56, 53, 50);
    background-color: rgb(31, 29, 26);
    padding: 12px;
    cursor: pointer;
}

#scene-voting div.vote-player img {
    width: 100px;
    height: 100px;
    background-color: white;
}

#scene-voting button.submit {
    background-color: rgb(235, 189, 126);
    border: none;
    cursor: pointer;
    font-size: 18pt;
    padding: 10px;
    width: 100%;
}

#scene-voting button.submit.disabled {
    cursor: default;
    background-color: rgb(90, 80, 65);
    color: rgb(153, 133, 104);
}

#scene-voting button.submit:active {
    background-color: rgb(247, 221, 185);
}

@media only screen and (max-device-width: 480px) {
    #scene-voting div.vote-players {
        display: flex;
        flex-direction: column;
        flex-wrap: unset;
        height: auto;
    }
}